.mainList {
    flex-grow: 1;
}

.listHeader {
    height: 48px;
    margin-right: 36px;
    padding-left: 16px;
    border-bottom: 2px solid #eeeeee;
    display: flex;
    align-items: center;
}

.list {
    padding-left: 16px;
    padding-right: 50px;
}

.dataDetailCard {
    cursor: pointer;
    text-align: center;
    height: 300px;
    width: 50%;
    margin: auto;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302),0 1px 3px 1px rgba(60,64,67,0.149);
    background-color: #ffffff;
    border-radius: 24px;
}
.dataDetailCard * {
    line-height: 60px;
}

.listFooter {
    margin: 64px;
    font-size: 0.875em;
    text-align: center;
}